<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      <div class="col-md-2">
        <p class="text-muted">&copy 2022 Institut Teknologi Bandung</p>
      </div>
      <div class="col-md-8 text-md-center">
        <span class="px-2">kelompok9@gmail.com</span>
        <span class="px-2">021-123456</span>
        <span class="px-2">Jl. Ganesha</span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
